~*
*~
._*
.DS_Store
Thumbs.db
desktop.ini
__MACOSX/
*.bak
*.tmp
*.old
*.undo
*.swp
bak/
tmp/
old/
undo/
swp/

.idea/
.vscode/

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# While most repos should have this committed, we always want to be on the latest, since that's what GitHub Pages is using
Gemfile.lock
